PyAutoGUI~=0.9.54
pillow~=10.3.0
numpy~=1.26.4
torch~=2.3.1
transformers~=4.41.2
Kivy~=2.3.0
datasets~=2.19.2
requests~=2.32.3
geocoder~=1.38.1
beautifulsoup4~=4.12.3
pyspark~=3.5.1
langchain~=0.2.11
accelerate~=0.30.1
pypdf2~=3.0.1
torchaudio~=2.3.1
soundfile~=0.12.1
speechbrain~=1.0.0
PyAudio~=0.2.14
pydub~=0.25.1
nltk~=3.9.1
spacy~=3.7.6
sumy~=0.11.0
scikit-learn~=1.5.0
inflect~=7.2.1
librosa~=0.10.2.post1
noisereduce~=3.0.2
resampy~=0.4.3
joblib~=1.4.2
simpleaudio~=1.0.4
scipy~=1.13.1
Scrapy~=2.11.2
twisted~=24.3.0
itemadapter~=0.9.0
pyttsx3~=2.91
keyboard~=0.13.5
mouse~=0.7.1
psutil~=5.9.8
PyGetWindow~=0.0.9
future~=1.0.0
pywinauto~=0.6.8
